* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

.btn:hover {
    background: #303549;
}

h2.sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

p.desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.1875em; /* 118.75% */
}

.hero .info .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7em;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients-logo {
    min-height: 91px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-logo .client-logo {
    padding: 25px 41px 20px;
    border-radius: 12px;
}

.clients-logo .client-logo:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Guide */
.guides {
    margin-top: 37px;
    padding: 69px 0px;
}

.guides .sub-title {
    text-align: center;
    position: relative;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    /* set display: inline-block in order to set width height */
    display: inline-block;
    border-radius: 12px;
    background: #000339;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 50%;
    /* calc by itself  */
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0px;
    text-align: center;
}

.list-guides {
    margin: 70px auto 0px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link {
    margin-top: 10px;
}

.guide-item .link span {
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 8px;
}

.guide-cta {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* Featured */
.featured {
    margin-top: 41px;
    background: #f5fafe;
}

.featured .content {
    padding: 110px 0px;
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured .link span {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link {
    display: flex;
    align-items: center;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .list .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.featured .list .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item a {
    /* display: -webkit-box giống display: flex, không tương thích trên tất cả trính duyệt nhưng để thuộc tính line-clamp hoạt động cần có */
    display: -webkit-box;
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .body .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    --line-clamp: 3;
    word-break: break-all;
}

.featured .item .body .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .body .info .icon {
    margin-left: 22px;
}

.featured .item .body .info .icon:first-child {
    margin-left: 0px;
}

.featured .item .body .info .label {
    margin-left: 8px;
    color: #4d4d52;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .content .row {
    display: flex;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    background: url(<path-to-image>) lightgray 0px -79.595px / 100% 117.792% no-repeat;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}

.stats .info {
    /* width: 309px; */
    padding: 55px 23px 0px 165px;
}

.stats .sub-title {
    line-height: 1.3;
    position: relative;
}

.stats .sub-title::before {
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    position: absolute;
    left: 0;
    top: -10px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
    filter: drop-shadow(-3px 7px 10px rgba(0, 0, 0, 0.25));
}

.stats .stats-trend .row {
    justify-content: space-between;
    align-items: center;
}

.stats .stats-trend strong {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
}

.stats .stats-trend strong span {
    font-weight: 500;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats .stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .stats-trend .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.stats .stats-trend .avatar-block .avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.stats .stats-trend .avatar-block .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    margin-top: 110px;
    gap: 220px;
    justify-content: center;
}

.stats .qty-item .qty {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subcription */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    margin-left: 80px;
    width: 680px;
    max-width: 100%;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.subscription .btn {
    margin-top: 20px;
    color: #002366;
    width: 151px;
    height: 50px;
    border-radius: 12px;
    background: #fff;
}

.subscription .subs-img {
    margin-left: 89px;
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row-1 {
    display: flex;
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .column ul {
    margin-top: 42px;
}

.footer .column ul li {
    margin-top: 16px;
}

.footer .column ul li a {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .column .desc {
    margin-top: 40px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer .icon-group {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.footer .icon-group .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.5px;
    height: 28.5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.footer .icon-group .social-link:hover {
    background-color: #cacaca;
}

.footer .row-2 {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
}
